:root{
    --background: #7495A6;
    --navbar-background: #008693;
    --navbar-text-color: #F2F2F2;
    --title-color: #F2CB05;

    --title-font: "Shadows Into Light", cursive;
    --nav-font: "Bebas Neue", sans-serif;
    --body-font: "Montserrat", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--background);
    font-family: var(--body-font);
}

nav{
    display: flex;
    background-color: var(--navbar-background);
    font-family: var(--nav-font);
    padding: 5px;
}

nav h2{
    font-size: 2.3em;
    margin: 0 40% 0 3%;
    align-self: center;
    font-family: var(--nav-font);
}

nav ul{
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style-type: none;
}

nav li a{
    text-decoration: none;
    font-size: 1.6em;
    color: var(--navbar-text-color);
}

nav li a:hover{
    color: #88A33C;
    transition: color 300ms;
}

#wrapper{
    width: 97vw;
    margin: 0 auto;
}

/* home body css */
#title{
    font-family: var(--title-font);
    font-size: 8em;
    margin: 0;
    text-align: center;
    color: var(--title-color);
}

.body-text{
    width: 60vw;
    float: left;
    margin-left: 5%;
    font-size: 1.3em;
    margin-bottom: 4%;
}

#tacos{
    float: right;
    margin-right: 3%;
}

#events{
    clear: both;
    margin-left: 5%;
    font-size: 2em;
}

.event-info{
    margin-left: 3%;
}

.event-info h3{
    font-size: 1em;
    color: #A60C10;
}

.menuBtn{
    /* background-color: transparent; */
    border: none;
    width: 5%;
    border-radius: 5px;
    margin-left: 2%;
}

.menuBtn:hover{
    /* background-color: #88A33C; */
    border-radius: 20px;
    transition: width 3s;
}

.menuBtn i{
    font-size: 1.4em;
}

#event-text{
    display: none;
    font-size: 0.7em;
    margin-left: 3%;
}

#event-text p{
    font-size: 1.2em;
    width: 80%;
    margin-bottom: 0;
}

#event-text li{
    list-style-type: none;
    line-height: 5vh;
}

.bold{
    font-weight: bold;
}

